<h3>Add bands</h3>
<form action="/band/added" method="post">
  <input type="hidden" name="band_id">
  <select name="add_new_band">
    @foreach(var band in @Model)
    {
      <option value="@band.GetId()">@band.GetBandName()</option>
    }
  </select>
  <button type="submit">Add Band</button>
</form>
