<h1>Band Tracker</h1>
<hr>
<h2>Add Venues to the list</h2>
<form action="/venue/new" method="post">
  <label for="venue_name">Venue Name</label>
  <input type="text" name="venue_name" required>
  <button type="submit">Add</button>
</form>
<br>
<a href="/venues/all">Check list of all venues</a>
<br>
<a href="/bands/all">Check list of all bands</a>
<br>
<a href="/band/new">Add new band</a>
